table{
    border:4px solid black;
    border-collapse: separate;
    border-spacing: 0px;
    border-radius:10px;
    width:1000px;
}

tr,th,td{
    border-bottom: 2px solid grey;
    padding:10px;
    font-size: large;
}

td:nth-child(3){
    width:100px;
    color: gray;
}

tr:nth-child(2){
    font-size:20px;
    text-align:justify;
}

tr:nth-child(4){
    width:100px;
    color:green;
}

tr:last-child{
    border-bottom:2px solid black;
}

td:hover{
    background-color: lightgray;
}
span{
    display:inline;
    color:grey;
}    

td:nth-child(5){
    width:80px;
}

span:hover{
    font-size: 30px;
    color:black;
}

tr:last-child{
    border-bottom: none;
}